@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Subscriptions</h1>
    <p>Click on a subscription to see the resource groups under it</p>

    <table class="table table-hover table-striped">
    @foreach(var sub in Model.Subscriptions)
    {
        <tr>
            <td><a asp-page="/ResourceGroups" asp-route-subscriptionId="@sub.Id">@sub.DisplayName</a></td>
            <td>@sub.Id</td>

        </tr>
    }
    </table>

    @Model.Error
</div>
